/* :root { */
   /* COLOR THEME-------------  */
   /* --primary-bg: #3e6e74fb;
  --secondary-bg: #fff; 
  --primary-text-color: #222222ea;
  --border-radius: 8px;
  --speed: 500ms; 

 }  */

/* .header { */
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 7.5%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--primary-bg); */

/* } */

/* .header-title { */
  /* font-size: 35px;
  color: var(--secondary-bg);
} */

/* .header-right {
  display: flex;
  align-items: center;
} */

/* .header-right h5 {
  color: var(--secondary-bg);
  margin-right: 10px;
  cursor: pointer;
} */

/* .modal {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .align-left {
  margin-left: auto;
  
} */

/* for editor */
/* .jodit-container.jodit.jodit_theme_default.jodit_wysiwyg_mode {
  border: 2px solid #22222296 !important;
}
.jodit-container .jodit-workplace {
  background-color: black !important;
} */
/* 
.jodit_theme_summer {
  --jd-color-background-default: #417505;
  --jd-color-border: #474025;
  --jd-color-panel: #5fd3a2;
  --jd-color-icon: #8b572a;
} */
